.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 1rem;
  box-sizing: border-box;
}

.forgot-password-card {
  width: 100%;
  max-width: 400px;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
